.font-h1{
    /* font-family: 'Marvel', sans-serif; */
    font-family: 'Permanent Marker', cursive;
}
.bg-login{
    background-color: #F5F6F8;
   /*  background-color: #264653; */
}

.bg-navBar{
    background-color: #001219;
}

.home-card{
    width: 210px;
    height: 390px;
    margin: 8px;
    cursor: pointer;
    box-shadow: 0 10px 20px azure;
    font-family: 'Lobster', serif;
    border-radius: 10px;
}

.search-input{
    position: relative;
    border-radius: 5px;
    outline: none;
    width: 500px;
    padding: 5px;
    font-size: 1.3rem;
    box-shadow: skyblue 0px 5px 15px;
}

.search-icon{
    position: absolute;
    font-size: 1.6rem;
    margin-left: 1250px;
    margin-top: -30px;
    cursor: pointer;
}